.card-with-aspect-ratio {
  aspect-ratio: 4/2;
}

.card .card-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: top left;
  filter: blur(0) brightness(100%);
  transition: filter 0.3s ease-in;
}

.card .content {
  display: none;
}

.card:hover .card-image {
  filter: blur(3px) brightness(30%);
}

.card .content {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .content {
  display: block;
  opacity: 1;
}

.card a {
  color: #268056;
}

.card a:hover {
  color: #e000bb;
}

.card-text {
  color: #bdbbc0;
}

.content-background {
  background-color: #000000;
}

.navbar-background {
  background-color: #268056;
}

.navbar-title {
  color: black;
}

.title-text {
  font-size: 50px;
  color: black;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.container {
  color: white;
}

.footer-background {
  background-color: #268056;
}

.footer-link {
  color: #000000;
}

.footer-link:hover {
  color: #e000bb;
}

.profile-icon {
  font-size: 90px;
 
}

.resume-link {
  color: #00A8E0;
}

.resume-link:hover {
  color: #e000bb;
}